head
body
  p#selfID.
  br
  input(type='text' name='ConnectPeer' placeholder='connect to ID' id='peerID' required)
  button#connectButton(type='button') Connect 
  input(type='text' name='messageBox' placeholder='message' id='message' required)
  button#messageButton(type='button') Send 
  p#connection
  p#messages
  script(src='javascripts/peerjs.min.js')
  script(type='module', src='javascripts/index.js')
